.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;    
}

.form-box {
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
}
.form-box h2 {
    margin-bottom: 10px;
}
.login-box {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
.login-button {
    border: 0;
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
}
.error-box {
    background-color: rgb(252, 230, 103);
    box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(66,66,66,0.75);
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.error-box2 {
    background-color: rgb(252, 103, 103);
}